# Pandas Introduction
#### Cecelia Henson

## What is Pandas?
- Library for manupulating tables of data
- Primarily used for cleaning and restructuring data in preperation for plotting and modeling
- 2 primary data structures
    - Series - 1D, columns of data
    - DataFrames - 2D, tables of data
- Columnar
    - Most operations are designed to operate on columns of data, not individual elements or rows

In [1]:
import matplotlib.pyplot as plt
import sklearn.ensemble as mdl
import pandas as pd
import numpy as np
datapath = 'IRIS.csv'

## Caveats
- Pandas offers multiple ways to do things. Some ways are newer and have learned from the mistakes of the old ways. This can be confusing and frustrating
- Pandas documentation is complex and not well organized
- It can be difficult to predict when a copy is made versus a view is created - this makes optimization challenging

## Creating DataFrames
- Read from a csv file

In [2]:
df1 = pd.read_csv(datapath)

- Show the first 5 lines of the file

In [3]:
df1.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

## Iris Dataset
Take a few minutes to read about this dataset: https://archive.ics.uci.edu/ml/datasets/iris  

Please add a few comments in this cell regarding what each of the features are.  How many distinct labels are in the dataset?

There are 5 distinct labels in the dataset
1. sepal length in cm
2. sepal width in cm
3. petal length in cm
4. petal width in cm
5. class:
-- Iris Setosa
-- Iris Versicolour
-- Iris Virginica

# More Pandas creation
You can create pandas dataframes from existing lists, Numpy arrays, or series

In [4]:
df2 = pd.DataFrame( {"column1" : [0.0, 1.0, 2.0],
                    "column2" : np.random.randint(10,size = (3)),
                    "column3" : df1["species"][0:3] } )
df2.head()

   column1  column2      column3
0      0.0        6  Iris-setosa
1      1.0        0  Iris-setosa
2      2.0        3  Iris-setosa

## Investigating DataFrames
- There are multiple functions to investigate existing DataFrames

In [5]:
df1.head(10)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [6]:
df1.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [7]:
df1.shape

(150, 5)

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [9]:
help(df1.info)

Help on method info in module pandas.core.frame:

info(verbose: 'bool | None' = None, buf: 'WriteBuffer[str] | None' = None, max_cols: 'int | None' = None, memory_usage: 'bool | str | None' = None, show_counts: 'bool | None' = None, null_counts: 'bool | None' = None) -> 'None' method of pandas.core.frame.DataFrame instance
    Print a concise summary of a DataFrame.

    This method prints information about a DataFrame including
    the index dtype and columns, non-null values and memory usage.

    Parameters
    ----------
    data : DataFrame
        DataFrame to print information about.
    verbose : bool, optional
        Whether to print the full summary. By default, the setting in
        ``pandas.options.display.max_info_columns`` is followed.
    buf : writable buffer, defaults to sys.stdout
        Where to send the output. By default, the output is printed to
        sys.stdout. Pass a writable buffer if you need to further process
        the output.    max_cols : int, optional
        When to switch from the verbose to the truncated output. If the
        DataFrame has more than `max_cols` columns, the truncated output
        is used. By default, the setting in
        ``pandas.options.display.max_info_columns`` is used.
    memory_usage : bool, str, optional
        Specifies whether total memory usage of the DataFrame
        elements (including the index) should be displayed. By default,
        this follows the ``pandas.options.display.memory_usage`` setting.

        True always show memory usage. False never shows memory usage.
        A value of 'deep' is equivalent to "True with deep introspection".
        Memory usage is shown in human-readable units (base-2
        representation). Without deep introspection a memory estimation is
        made based in column dtype and number of rows assuming values
        consume the same memory amount for corresponding dtypes. With deep
        memory introspection, a real memory usage calculation is performed
        at the cost of computational resources.
    show_counts : bool, optional
        Whether to show the non-null counts. By default, this is shown
        only if the DataFrame is smaller than
        ``pandas.options.display.max_info_rows`` and
        ``pandas.options.display.max_info_columns``. A value of True always
        shows the counts, and False never shows the counts.
    null_counts : bool, optional
        .. deprecated:: 1.2.0
            Use show_counts instead.

    Returns
    -------
    None
        This method prints a summary of a DataFrame and returns None.

    See Also
    --------
    DataFrame.describe: Generate descriptive statistics of DataFrame
        columns.
    DataFrame.memory_usage: Memory usage of DataFrame columns.

    Examples
    --------
    >>> int_values = [1, 2, 3, 4, 5]
    >>> text_values = ['alpha', 'beta', 'gamma', 'delta', 'epsilon']
    >>> float_values = [0.0, 0.25, 0.5, 0.75, 1.0]
    >>> df = pd.DataFrame({"int_col": int_values, "text_col": text_values,
    ...                   "float_col": float_values})
    >>> df
        int_col text_col  float_col
    0        1    alpha       0.00
    1        2     beta       0.25
    2        3    gamma       0.50
    3        4    delta       0.75
    4        5  epsilon       1.00

    Prints information of all columns:

    >>> df.info(verbose=True)
    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 5 entries, 0 to 4
    Data columns (total 3 columns):
     #   Column     Non-Null Count  Dtype
    ---  ------     --------------  -----
     0   int_col    5 non-null      int64
     1   text_col   5 non-null      object
     2   float_col  5 non-null      float64
    dtypes: float64(1), int64(1), object(1)
    memory usage: 248.0+ bytes

    Prints a summary of columns count and its dtypes but not per column
    information:

    >>> df.info(verbose=False)
    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 5 entries, 0 to 4
    Columns: 3 entries, int_col to float_col
    dtypes: float64(1), int64(1), object(1)
    memory usage: 248.0+ bytes

    Pipe output of DataFrame.info to buffer instead of sys.stdout, get
    buffer content and writes to a text file:

    >>> import io
    >>> buffer = io.StringIO()
    >>> df.info(buf=buffer)
    >>> s = buffer.getvalue()
    >>> with open("df_info.txt", "w",
    ...           encoding="utf-8") as f:  # doctest: +SKIP
    ...     f.write(s)
    260

    The `memory_usage` parameter allows deep introspection mode, specially
    useful for big DataFrames and fine-tune memory optimization:

    >>> random_strings_array = np.random.choice(['a', 'b', 'c'], 10 ** 6)
    >>> df = pd.DataFrame({
    ...     'column_1': np.random.choice(['a', 'b', 'c'], 10 ** 6),
    ...     'column_2': np.random.choice(['a', 'b', 'c'], 10 ** 6),
    ...     'column_3': np.random.choice(['a', 'b', 'c'], 10 ** 6)
    ... })
    >>> df.info()
    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 1000000 entries, 0 to 999999
    Data columns (total 3 columns):
     #   Column    Non-Null Count    Dtype
    ---  ------    --------------    -----
     0   column_1  1000000 non-null  object
     1   column_2  1000000 non-null  object
     2   column_3  1000000 non-null  object
    dtypes: object(3)
    memory usage: 22.9+ MB

    >>> df.info(memory_usage='deep')
    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 1000000 entries, 0 to 999999
    Data columns (total 3 columns):
     #   Column    Non-Null Count    Dtype
    ---  ------    --------------    -----
     0   column_1  1000000 non-null  object
     1   column_2  1000000 non-null  object
     2   column_3  1000000 non-null  object
    dtypes: object(3)
    memory usage: 165.9 MB

## Indexing / Selecting / Slicing Columns
- Pandas has multiple ways to index. The slice operator works on columns

In [10]:
df1.head(1)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa

In [11]:
df1["sepal_length"][0:2]

0    5.1
1    4.9
Name: sepal_length, dtype: float64

Or another way...

In [12]:
df1.sepal_length[0:2]

0    5.1
1    4.9
Name: sepal_length, dtype: float64

In [13]:
df1[["sepal_length","species"]][0:5]

   sepal_length      species
0           5.1  Iris-setosa
1           4.9  Iris-setosa
2           4.7  Iris-setosa
3           4.6  Iris-setosa
4           5.0  Iris-setosa

## Indexing
- You can index by position (numerical index). This follows the Numpy pattern of row, then column:

In [14]:
df1.iloc[5]

sepal_length            5.4
sepal_width             3.9
petal_length            1.7
petal_width             0.4
species         Iris-setosa
Name: 5, dtype: object

## Creating a New Column
- The simplest way to create a new column:

In [15]:
extra_col = np.random.randint(2,size=(150))

In [16]:
df1["Is_pretty"] = extra_col==1
df1.head()

,sepal_length,sepal_width,petal_length,petal_width,species,Is_pretty
0,5.1,3.5,1.4,0.2,Iris-setosa,False
1,4.9,3.0,1.4,0.2,Iris-setosa,False
2,4.7,3.2,1.3,0.2,Iris-setosa,False
3,4.6,3.1,1.5,0.2,Iris-setosa,True
4,5.0,3.6,1.4,0.2,Iris-setosa,False

- The assign method is used too, since it returns a new DataFrame and can be used with method chaining:

In [17]:
new_df = df1.assign(Smells_bad = np.ones(150)==1)
new_df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,Is_pretty,Smells_bad
0,5.1,3.5,1.4,0.2,Iris-setosa,False,True
1,4.9,3.0,1.4,0.2,Iris-setosa,False,True
2,4.7,3.2,1.3,0.2,Iris-setosa,False,True
3,4.6,3.1,1.5,0.2,Iris-setosa,True,True
4,5.0,3.6,1.4,0.2,Iris-setosa,False,True

## Modifying a column
- Convert data types - may need to specify function for parsing /conversion
- Cleaning data
- Extracting fields from complex types
    - e.g., hour, month, etc... from date times

1) Get the Series for the column of interest

In [18]:
column = new_df["Smells_bad"]

2) Use the map() method to apply a function to each element in the Series and return a new Series

In [19]:
converted = column.map(lambda s: (not s))
converted.head()

0    False
1    False
2    False
3    False
4    False
Name: Smells_bad, dtype: bool

3) Then update the df, either by adding a new column or overwritng the orignal column

In [20]:
df1["Smells_bad"] = converted
df1.head()

,sepal_length,sepal_width,petal_length,petal_width,species,Is_pretty,Smells_bad
0,5.1,3.5,1.4,0.2,Iris-setosa,False,False
1,4.9,3.0,1.4,0.2,Iris-setosa,False,False
2,4.7,3.2,1.3,0.2,Iris-setosa,False,False
3,4.6,3.1,1.5,0.2,Iris-setosa,True,False
4,5.0,3.6,1.4,0.2,Iris-setosa,False,False

## Dropping a Column
- I prefer to use the drop() method becuase it returns a DataFrame object, so it work with chaining:

In [21]:
new_df = df1.drop(columns=["Smells_bad"])

- You might also see this format

In [22]:
df1.head()
new_df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,Is_pretty
0,5.1,3.5,1.4,0.2,Iris-setosa,False
1,4.9,3.0,1.4,0.2,Iris-setosa,False
2,4.7,3.2,1.3,0.2,Iris-setosa,False
3,4.6,3.1,1.5,0.2,Iris-setosa,True
4,5.0,3.6,1.4,0.2,Iris-setosa,False

In [23]:
del df1["Smells_bad"]
df1.head()

,sepal_length,sepal_width,petal_length,petal_width,species,Is_pretty
0,5.1,3.5,1.4,0.2,Iris-setosa,False
1,4.9,3.0,1.4,0.2,Iris-setosa,False
2,4.7,3.2,1.3,0.2,Iris-setosa,False
3,4.6,3.1,1.5,0.2,Iris-setosa,True
4,5.0,3.6,1.4,0.2,Iris-setosa,False

## Filtering
We can apply boolean indexing to filter our dataframe.  Please modify the cell below to find the number of samples that have a sepal_width greater than 4.  Are any of them pretty?

Answer: The index 15 is the only one that has a true boolean for is_pretty

In [24]:
df1_filtered = df1[df1['sepal_width'] > 4]
df1_filtered.head()

,sepal_length,sepal_width,petal_length,petal_width,species,Is_pretty
15,5.7,4.4,1.5,0.4,Iris-setosa,False
32,5.2,4.1,1.5,0.1,Iris-setosa,True
33,5.5,4.2,1.4,0.2,Iris-setosa,False

We can also use string operations to slice based on string properties.  We can also find out how many unique values there are in a column using the following code.

In [25]:
df1_filtered2 = df1[df1['species'].str.len() > 11]
print(df1_filtered2.species.unique())

['Iris-versicolor' 'Iris-virginica']

Notice in the preceeding cell that the second line with the unique call uses a different filtering syntax that allows you to refer to a column (if it doesn't have spaces) directly after the dataframe name.  This is a strong reason to avoid using spaces in your column names.

You can slice multiple columns using double brackets or a single column with a single bracket.  If you are slicing a single column with a single bracket, the return type will be a Series (not a DataFrame)

In [26]:
df1[['sepal_length', 'sepal_width']]

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

We can sort a DataFrame with a simple method call.  You should add a more complex sort with multiple columns where some are ascending and some are descending.

In [27]:
df1_sorted = df1.sort_values(by = 'sepal_length')
print(df1_sorted.head(20))

df1_sorted_two = df1.sort_values(by = ['petal_width', 'sepal_width'], ascending = True)
print(df1_sorted_two.head(20))

df1_sorted_three = df1.sort_values(by = ['sepal_length','sepal_width'], ascending = False, na_position='first')
df1_sorted_three.head(20)

     sepal_length  sepal_width  petal_length  petal_width          species  \
13            4.3          3.0           1.1          0.1      Iris-setosa
42            4.4          3.2           1.3          0.2      Iris-setosa
38            4.4          3.0           1.3          0.2      Iris-setosa
8             4.4          2.9           1.4          0.2      Iris-setosa
41            4.5          2.3           1.3          0.3      Iris-setosa
22            4.6          3.6           1.0          0.2      Iris-setosa
3             4.6          3.1           1.5          0.2      Iris-setosa
6             4.6          3.4           1.4          0.3      Iris-setosa
47            4.6          3.2           1.4          0.2      Iris-setosa
2             4.7          3.2           1.3          0.2      Iris-setosa
29            4.7          3.2           1.6          0.2      Iris-setosa
12            4.8          3.0           1.4          0.1      Iris-setosa
45            4.8          3.0           1.4          0.3      Iris-setosa
24            4.8          3.4           1.9          0.2      Iris-setosa
11            4.8          3.4           1.6          0.2      Iris-setosa
30            4.8          3.1           1.6          0.2      Iris-setosa
57            4.9          2.4           3.3          1.0  Iris-versicolor
106           4.9          2.5           4.5          1.7   Iris-virginica
34            4.9          3.1           1.5          0.1      Iris-setosa
9             4.9          3.1           1.5          0.1      Iris-setosa

     Is_pretty
13       False
42       False
38       False
8         True
41        True
22       False
3         True
6         True
47        True
2        False
29        True
12       False
45       False
24        True
11       False
30       False
57       False
106      False
34        True
9        False
    sepal_length  sepal_width  petal_length  petal_width      species  \
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
34           4.9          3.1           1.5          0.1  Iris-setosa
37           4.9          3.1           1.5          0.1  Iris-setosa
32           5.2          4.1           1.5          0.1  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
25           5.0          3.0           1.6          0.2  Iris-setosa
38           4.4          3.0           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
30           4.8          3.1           1.6          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
29           4.7          3.2           1.6          0.2  Iris-setosa
35           5.0          3.2           1.2          0.2  Iris-setosa
42           4.4          3.2           1.3          0.2  Iris-setosa
47           4.6          3.2           1.4          0.2  Iris-setosa
49           5.0          3.3           1.4          0.2  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa

    Is_pretty
12      False
13      False
9       False
34       True
37      False
32       True
8        True
1       False
25      False
38      False
3        True
30      False
2       False
29       True
35      False
42      False
47       True
49       True
7       False
11      False

,sepal_length,sepal_width,petal_length,petal_width,species,Is_pretty
131,7.9,3.8,6.4,2.0,Iris-virginica,True
117,7.7,3.8,6.7,2.2,Iris-virginica,True
135,7.7,3.0,6.1,2.3,Iris-virginica,True
122,7.7,2.8,6.7,2.0,Iris-virginica,True
118,7.7,2.6,6.9,2.3,Iris-virginica,True
105,7.6,3.0,6.6,2.1,Iris-virginica,False
130,7.4,2.8,6.1,1.9,Iris-virginica,True
107,7.3,2.9,6.3,1.8,Iris-virginica,False
109,7.2,3.6,6.1,2.5,Iris-virginica,False
125,7.2,3.2,6.0,1.8,Iris-virginica,True
129,7.2,3.0,5.8,1.6,Iris-virginica,False
102,7.1,3.0,5.9,2.1,Iris-virginica,False
50,7.0,3.2,4.7,1.4,Iris-versicolor,True
120,6.9,3.2,5.7,2.3,Iris-virginica,False
52,6.9,3.1,4.9,1.5,Iris-versicolor,True
139,6.9,3.1,5.4,2.1,Iris-virginica,True
141,6.9,3.1,5.1,2.3,Iris-virginica,False
143,6.8,3.2,5.9,2.3,Iris-virginica,True
112,6.8,3.0,5.5,2.1,Iris-virginica,True
76,6.8,2.8,4.8,1.4,Iris-versicolor,True

You can also call methods that will provide basic descriptive statistics on a dataframe using simple method calls.  Add a few in the following cell.

In [28]:
df1.head()
print(df1.describe())
df1.dropna()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

,sepal_length,sepal_width,petal_length,petal_width,species,Is_pretty
0,5.1,3.5,1.4,0.2,Iris-setosa,False
1,4.9,3.0,1.4,0.2,Iris-setosa,False
2,4.7,3.2,1.3,0.2,Iris-setosa,False
3,4.6,3.1,1.5,0.2,Iris-setosa,True
4,5.0,3.6,1.4,0.2,Iris-setosa,False
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,True
146,6.3,2.5,5.0,1.9,Iris-virginica,False
147,6.5,3.0,5.2,2.0,Iris-virginica,True
148,6.2,3.4,5.4,2.3,Iris-virginica,False
149,5.9,3.0,5.1,1.8,Iris-virginica,True

That's it!  Except, there is still a lot to learn about DataFrames.  There is a lot more to learn, and you can start by digging into the official documentation here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html